body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}
#root{
    display: flex;
    justify-content: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    margin-top:3%;
}
.flex-col{
    flex-direction: column;
}
.inputbox{
    background-color: rgb(33, 138, 3);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    border-radius: 8px;
    font-weight: 700;
    gap:30px;
}
.inputfield{
    display: block;
}
input{
    background-color: rgb(33, 138, 3) ;
    border: 2px solid white;
    border-radius: 5px;
    padding:10px;
    color:white;
}
.outputArea{
    margin-top:40px;
}
th, td{
    padding:20px;
}